.login-form {
  width: 85%;
  max-width: 400px;
  padding: 20px;
  background-color: #FFF;
  margin: 100px auto;
  align-content: center;
  text-align: center;
  display: block;
  border: 1px solid #C4C4C4;
  overflow: hidden;
  border-radius: 3px;
}

.form-title {
  color: rgb(70, 69, 69);
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.login-form>div {
  width: 100% !important;
  margin: 10px 0 !important;
}

.login-form button {
  float: right !important;
}

.login-form>button {
  display: inline-block;
  margin: 10px 0 0 10px;
  overflow: hidden;
}
.login-form > button:disabled {
  background-color: transparent !important;
  color: #C4C4C4 !important;
}