.user-view-form {
  width: 95%;
  margin: 20px auto 30px auto;
}

.form-actions {
  width: 95%;
  min-height: 50px;
  max-height: 500px;
  margin: 10px auto;
}

.select-list {
  margin: 20px 0 !important;
  display: block !important;
  width: 300px;
}

.select-list > div {
  height: 50px !important;
  width: 300px;
  font-size: 12px !important;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #232323;
}

.select-list .MuiSelect-select {
  padding: 15x 0 !important;
}

.select-label {
  width: max-content;
  padding: 0 5px !important;
  background: #FFF;
}

.form-actions label > span {
  font-size: 14px !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.5px;
}

.label {
  color: rgb(49, 47, 47) !important;
  width: max-content;
  margin: 15px 15px 5px 0;
  display: block;
}

.inputs-wrapper {
  display: flex;
  margin-bottom: 20px;
  clear: both;
}

.pr-inputs {
  display: inline-flex;
  margin: 0 2px !important;
  width: 100%;
}
.pr-inputs input {
  height: 16px;
  line-height: 16px;
}
.pr-inputs label {
  font-size: 12px !important;
  letter-spacing: 0.5px;
}
.user-view-form > button {
  float: right !important;
  margin-left: 15px;
}
.generate-password {
  display: block !important;
  font-size: 10px !important;
  margin: 10px !important;
  clear: both !important;
  float: right !important;
  background: none !important;
}
.generate-password:hover {
  opacity: 0.6 !important;
}
